.Badge {
  position: fixed;
  display: flex;
  align-items: center;
  right: 20px;
  bottom: 20px;
  font-size: 3.2rem;
  transition: 0.2s;
  font-weight: bold;
  color: #333;
  border-radius: 4px;
}

.Badge:hover {
  background: #f0f0f0;
}

/* TOP文字 */
.Badge::after {
  position: fixed;
  content: 'TOP';
  font-size: 1.2rem;
  bottom: 10px;
  right: 23px;
}